<div class="container">
  <div class="d-flex justify-content-center pt-3">
    <h1>Electrical <strong>{{electricalItem?.equipmentTag}}</strong></h1>
  </div>
  <form (ngSubmit)="saveElectrical(electricalItem._id, electricalForm.value)" #electricalForm="ngForm">
    <div class="row">
      <div class="col-12 col-xl-6 align-self-start">
        <div class="d-flex justify-content-center">
          <span class="h4">Electrical Equipment Entry</span>
        </div>
          <div class="row">
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group">
                <label for="itemNumber">Item number</label>
                <input type="text" class="form-control" [(ngModel)]="electricalItem.itemNumber" name="itemNumber" disabled>
              </div>
            </div>
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group">
                <label for="dateCreate">Date added</label>
                <input type="text" class="form-control" [(ngModel)]="electricalItem.dateCreate" name="dateCreate">
              </div>
            </div>
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group">
                <label for="revision">Revision</label>
                <input type="text" class="form-control" [(ngModel)]="electricalItem.revision" name="revision">
              </div>
            </div>
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="number" class="form-control" [(ngModel)]="electricalItem.quantity" name="quantity">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group" *ngIf="electricalItem.equipmentType != null">
                <label for="equipmentType">Equipment Type</label>
                <select
                  id="selectedEquipmentType"
                  class="form-control"
                  [(ngModel)]="electricalItem.selectedEquipmentType"
                  name="selectedEquipmentType"
                  >
                  <option
                    *ngFor="let currentEquipmentType of electricalItem.equipmentType" 
                    [ngValue]="currentEquipmentType"
                    [selected]="currentEquipmentType==electricalItem.selectedEquipmentType">
                      {{currentEquipmentType}}
                  </option>
                </select>
              </div>            
            </div>
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group">
                <label for="pidDrawing">Pid Drawing</label>
                <input type="text" class="form-control" [(ngModel)]="electricalItem.pidDrawing" name="pidDrawing" disabled>
              </div>
            </div>
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group">
                <label for="layoutDrawing">Layout Drawing</label>
                <input type="text" class="form-control" [(ngModel)]="electricalItem.layoutDrawing" name="layoutDrawing" disabled>
              </div>
            </div>
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group">
                <label for="sldDraving">SLD Drawing</label>
                <input type="number" class="form-control" [(ngModel)]="electricalItem.sldDraving" name="sldDraving" disabled>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group">
                <label for="equipmentTag">Equipment Tag</label>
                <input type="text" class="form-control" [(ngModel)]="electricalItem.equipmentTag" name="equipmentTag" >
              </div>
            </div>
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group">
                <label for="equipmentTag2">Equipment Tag 2</label>
                <input type="text" class="form-control" [(ngModel)]="electricalItem.equipmentTag" name="equipmentTag2" disabled>
              </div>
            </div>
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group">
                <label for="parentTag">Parent Tag</label>
                <input type="text" class="form-control" [(ngModel)]="electricalItem.parentTag" name="parentTag" disabled>
              </div>
            </div>
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group">
                <label for="equipmentNotes">Equipment Notes</label>
                <input type="number" class="form-control" [(ngModel)]="electricalItem.equipmentNotes" name="equipmentNotes">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group">
                <label for="locationArea">Location/Area</label>
                <input type="text" class="form-control" [(ngModel)]="electricalItem.locationArea" name="locationArea" disabled>
              </div>
            </div>
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group">
                <label for="equipmentDescription">Equipment Description</label>
                <input type="text" class="form-control" [(ngModel)]="electricalItem.equipmentDescription" name="equipmentDescription" disabled>
              </div>
            </div>
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group">
                <label for="cloneTag">Clone Tag</label>
                <input type="text" class="form-control" [(ngModel)]="electricalItem.cloneTag" name="cloneTag" disabled>
              </div>
            </div>
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group">
                <label for="newTag">New Tag</label>
                <input type="number" class="form-control" [(ngModel)]="electricalItem.newTag" name="newTag">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group">
                <label for="locationArea">Length(mm)</label>
                <input type="text" class="form-control" [(ngModel)]="electricalItem.length" name="length" >
              </div>
            </div>
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group">
                <label for="depth">Depth(mm)</label>
                <input type="text" class="form-control" [(ngModel)]="electricalItem.depth" name="depth">
              </div>
            </div>
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group">
                <label for="height">Height(mm)</label>
                <input type="text" class="form-control" [(ngModel)]="electricalItem.height" name="height">
              </div>
            </div>
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group">
                <label for="weight">Weight(kg)</label>
                <input type="number" class="form-control" [(ngModel)]="electricalItem.weight" name="weight">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group">
                <label for="coordForX">X Coord(m)</label>
                <input type="text" class="form-control" [(ngModel)]="electricalItem.coordForX" name="coordForX" >
              </div>
            </div>
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group">
                <label for="coordForY">Y Coord(m)</label>
                <input type="text" class="form-control" [(ngModel)]="electricalItem.coordForY" name="coordForY">
              </div>
            </div>
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group">
                <label for="coordForZ">Z Coord(m)</label>
                <input type="text" class="form-control" [(ngModel)]="electricalItem.coordForZ" name="coordForZ">
              </div>
            </div>
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group">
                <label for="heatDissipation">Heat Dissipation (W)</label>
                <input type="number" class="form-control" [(ngModel)]="electricalItem.heatDissipation" name="heatDissipation">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group">
                <label for="scenarioFirstLoadFactor">Scenario 1 Load Factor %</label>
                <input type="text" class="form-control" [(ngModel)]="electricalItem.scenarioFirstLoadFactor" name="scenarioFirstLoadFactor" >
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-6 align-self-start">
          <div class="d-flex justify-content-center">
            <span class="h4">General Rating</span>
          </div>
          <div class="row">
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group" *ngIf="electricalItem.powerSystem != null">
                <label for="powerSystem">Power System</label>
                <select
                  id="selectedPowerSystem"
                  class="form-control"
                  [(ngModel)]="electricalItem.selectedPowerSystem"
                  name="selectedPowerSystem"
                  >
                  <option
                    *ngFor="let currentData of electricalItem.powerSystem" 
                    [ngValue]="currentData"
                    [selected]="currentData==electricalItem.selectedPowerSystem">
                      {{currentData}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group">
                <label for="voltage">Voltage</label>
                <input type="text" class="form-control" [(ngModel)]="electricalItem.voltage" name="voltage" disabled>
              </div>
            </div>
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group">
                <label for="totalPF">Total % P.F.</label>
                <input type="number" class="form-control" [(ngModel)]="electricalItem.totalPF" name="totalPF">
              </div>
            </div>
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group">
                <label for="totalEFF">Total % EFF.</label>
                <input type="number" class="form-control" [(ngModel)]="electricalItem.totalEFF" name="totalEFF">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group">
                <label for="nameplateRating">Nameplate Rating</label>
                <input type="text" class="form-control" [(ngModel)]="electricalItem.nameplateRating" name="nameplateRating">
              </div>
            </div>
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group" *ngIf="electricalItem.units != null">
                <label for="units">Units</label>
                <select
                  id="selectedUnits"
                  class="form-control"
                  [(ngModel)]="electricalItem.selectedUnits"
                  name="selectedUnits"
                >
                  <option
                    *ngFor="let currentUnit of electricalItem.units" 
                    [ngValue]="currentUnit"
                    [selected]="currentUnit==electricalItem.selectedUnits"
                  >
                    {{currentUnit}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group" *ngIf="electricalItem.motorSF != null">
                <label for="selectedMotorSF">Motor S.F.</label>
                <select
                id="selectedMotorSF"
                class="form-control"
                [(ngModel)]="electricalItem.selectedMotorSF"
                name="selectedMotorSF"
                >
                  <option
                    *ngFor="let currentMotorSF of electricalItem.motorSF" 
                    [ngValue]="currentMotorSF"
                    [selected]="currentMotorSF==electricalItem.selectedMotorSF"
                  >
                    {{currentMotorSF}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group" *ngIf="electricalItem.motorCode != null">
                <label for="motorCode">Motor Code</label>
                <select
                id="selectedMotorCode"
                class="form-control"
                [(ngModel)]="electricalItem.selectedMotorCode"
                name="selectedMotorCode"
                >
                  <option
                    *ngFor="let currentMotorCode of electricalItem.motorCode" 
                    [ngValue]="currentMotorCode"
                    [selected]="currentMotorCode==electricalItem.selectedMotorCode"
                  >
                    {{currentMotorCode}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group" *ngIf="electricalItem.sccRating != null">
                <label for="selectedSccRating">SCC Rating</label>
                <select
                id="selectedSccRating"
                class="form-control"
                [(ngModel)]="electricalItem.selectedSccRating"
                name="selectedSccRating"
                >
                  <option
                    *ngFor="let currentSccRating of electricalItem.sccRating" 
                    [ngValue]="currentSccRating"
                    [selected]="currentSccRating==electricalItem.selectedSccRating"
                  >
                    {{currentSccRating}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group" *ngIf="electricalItem.enclosureRating != null">
                <label for="selectedEnclosureRating">Enclosure Rating</label>
                <select
                id="selectedEnclosureRating"
                class="form-control"
                [(ngModel)]="electricalItem.selectedEnclosureRating"
                name="selectedEnclosureRating"
                >
                  <option
                    *ngFor="let currentEnclosureRating of electricalItem.enclosureRating" 
                    [ngValue]="currentEnclosureRating"
                    [selected]="currentEnclosureRating==electricalItem.selectedEnclosureRating"
                  >
                    {{currentEnclosureRating}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group">
                <label for="loadFactor">Load Factor (%)</label>
                <input type="number" class="form-control" [(ngModel)]="electricalItem.loadFactor" name="loadFactor">
              </div>
            </div>
            <div class="col-12 col-sm-3 align-self-end">
              <div class="form-group" *ngIf="electricalItem.loadDuty != null">
                <label for="selectedLoadDuty">Load Duty</label>
                <select
                id="selectedLoadDuty"
                class="form-control"
                [(ngModel)]="electricalItem.selectedLoadDuty"
                name="selectedLoadDuty"
                >
                  <option
                    *ngFor="let currentLoadDuty of electricalItem.loadDuty" 
                    [ngValue]="currentLoadDuty"
                    [selected]="currentLoadDuty==electricalItem.selectedLoadDuty"
                  >
                    {{currentLoadDuty}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-6 align-self-end">
              <div class="row">
                <div class="col-12 col-sm-6 align-self-end">
                  <div class="form-group">
                    <label>Ambient Temp (°C)</label>
                    <input class="form-control">
                  </div>
                </div>
                <div class="col-12 col-sm-6 align-self-end">
                  <div class="form-group">
                      <label>Termination Temp (°C)</label>
                    <input class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-6 align-self-end">
                  <div class="form-group">
                    <label>Operating T Min.(°C)</label>
                    <input class="form-control">
                  </div>
                </div>
                <div class="col-12 col-sm-6 align-self-end">
                  <div class="form-group">
                    <label>Operating T Max.(°C)</label>
                    <input class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-6 align-self-end">
                  <div class="form-group">
                    <label>Insul. Designation</label>
                    <input class="form-control">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 align-self-end" style="border: 1px solid; border-radius: 8px">
              <div class="row d-flex justify-content-center" style="padding-bottom: 1.3rem!important;">
                <label><strong>Equipment Hazloc Rating</strong></label>
              </div>
              <div class="row">
                <div class="col-3">
                  <label>first</label>
                </div>
                <div class="col-3">
                  <label>second</label>
                </div>
                <div class="col-3">
                  <label>third</label>
                </div>
                <div class="col-3">
                  <label>fourth</label>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-6 align-self-end">
                  <div class="form-group">
                    <label for="l">Hazloc Class</label>
                    <input class="form-control">
                  </div>
                </div>
                <div class="col-12 col-sm-6 align-self-end">
                  <div class="form-group">
                    <label for="b">Hazloc Zone</label>
                    <input class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-6 align-self-end">
                  <div class="form-group">
                    <label for="u">Hazloc Group</label>
                    <input class="form-control">
                  </div>
                </div>
                <div class="col-12 col-sm-6 align-self-end">
                  <div class="form-group">
                    <label for="o">Hazloc Temperature</label>
                    <input class="form-control">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="form-group">
      <a routerLink="/project/5a16fde3c6718700d89aac08/electricals/" class="btn btn-primary">Back</a>
      <button type="submit" class="btn btn-success" [disabled]="!electricalForm.form.valid">Update/Create</button>
    </div>
  </form>
</div>