<div class="container">
  <div class="pt-2">
    <h1>Electricals List
      <!-- [routerLink]="['/project', project._id, 'electrical-create']" -->
      <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Add new electrical" (click)="saveElectrical()">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </a>
    </h1>
  </div>
  <table class="table table-sm">
      <thead>
        <tr>
          <th>Title</th>
          <th>Date create</th>
          <th>Date update</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let electrical of project.electricals">
          <td><a routerLink="/project/5a1ed5f11af5b524cc2b4129/electrical-create/5a1ed5f61af5b524cc2b412a">{{electrical.revision}}</a></td>
          <td>{{electrical.quantity}}</td>
        </tr>
      </tbody>
  </table>
</div>