<div class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/projects">Projects</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/project-edit', projectId]">{{projectTitle}}</a></li>
    <li class="breadcrumb-item active">Dashboard</li>
  </ol>
  <div class="d-flex justify-content-center pt-3">
    <h1>Project <strong>{{projectTitle}}</strong></h1>
  </div>
  <div class="d-flex justify-content-center pt-2">
    <h4>To start working</h4>
  </div>
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column">
      <div class="p-2 h5">
        <a [routerLink]="['/project', projectId, 'electricals']">
          Electrical Load List
        </a>
      </div>
      <div class="p-2 h5">Electrical Equipment List</div>
      <div class="p-2 h5">Cable Schedule</div>
      <div class="p-2 h5">Controller Schedule</div>
      <div class="p-2 h5">Instrumentation Index</div>
      <div class="p-2 h5">IO Assignment</div>
      <div class="p-2 h5">IO List</div>
    </div>
  </div>    
</div>
