<div class="container">
  <h1>Project List
    <a class="btn btn-primary" [routerLink]="['/project-create']" data-toggle="tooltip" data-placement="top" title="Add new project">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
  </h1>
  <!--
  <div>
    <div class="row">
      <h2>Your list of projects is empty :(</h2>
    </div>
    <div>
      <h3>Now is the best time to create a new project.</h3>
    </div>
  </div>
-->
  <div>
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Title</th>
          <th>Date create</th>
          <th>Date update</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects">
          <td><a class="table-link" [routerLink]="['/project', project._id]"><strong>{{project.title }}</strong></a></td>
          <td>{{project.date_create | date : "medium"}}</td>
          <td>{{project.updated_date | date : "medium"}}</td>
          <td>
            <div class="row">
              <div class="col-6">
                <a [routerLink]="['/project-edit', project._id]" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Change project">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
              </div>
              <div class="col-6">
                <a [routerLink]="['/project-delete', project._id]" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete project">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

